{% extends "base.html" %}


{% block content %}

<div class="container mt-5 mb-5 shadow ">
    <div class="row ml-5">


        <div class="card text-center">
            <div class="card-header ">
            <h1> A propos de nous</h1>  
            </div>
            <div class="card-body mt-2">
              <h5 class="card-title">Agence Hotel</h5>
              <p class="card-text">Un hôtel est un établissement commercial qui offre un service d'hébergement payant en chambres meublées à une clientèle de passage.
                 En général, un hôtel assure l'entretien quotidien des chambres et des lits, ainsi que la fourniture du linge de toilette.</p>
              <a href="#" class="btn btn-primary mt-5">Visitez notre Pays</a>
            </div>
            <div class="card-footer text-muted ">
             Il y'a quelque mois
            </div>
          </div>
</div>
</div>




{% endblock%}



