{% extends "base.html" %}


{% block content %}
<!-- Toujours les contenu a l'interier de ce block -->

<div class="container mt-5 mb-5 shadow ">
    <div class="row ml-5">
        <!-- <div class="col-lg-6 shadow p-4"> -->
    <!-- pour le text-->
    <h3  class="mb-3 ">Contactez-nous</h3>

    <form class="row g-3 ">
        <div class="col-md-6 ">
            <label for="inputEmail4" class="form-label">Prenom</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputText4" class="form-label">Nom</label>
            <input type="Text" class="form-control" id="inputText4" >
          </div>
        
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputText4" class="form-label">Adresse</label>
          <input type="Text" class="form-control" id="inputText4" placeholder="1234 Main St">
        </div>

        <div class="col-12 mb-5">
          <label for="exampleFormControlTextarea1" class="form-label">Message</label>
          <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
       
        <div class="col-12 mb-5  ">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Contactez-nous</button>
        </div>
      </form>
</div>
</div>
<!-- </div> -->


{% endblock%}