
{% extends "base.html" %}


{% block content %}


<div class="container mt-5 mb-5 ">
    <h3>Hôtels les plus vendus au centre de Moroni</h3>   
    <div class="row  ">
        
<!--*********************************** photo 1************************************************-->

            <div class="col-lg-4">
            <div class="card shadow "  style="width: 18rem;">
                <img src="https://www.responsiblevacation.com/imagesClient/S_121821.jpg" class="card-img-top" alt="..." class="img-fluid img-reponsive">
                <div class="card-body">
                  <h5 class="card-title">XXXXXXXXXXXXX</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
            

              <!--*********************************** photo 1************************************************-->
              
              <div class="col-lg-4">
              <div class="card shadow" style="width: 18rem;">
                <img src="https://www.responsiblevacation.com/imagesClient/S_121821.jpg" class="card-img-top" alt="..." class="img-fluid img-reponsive">
                <div class="card-body">
                  <h5 class="card-title">YYYYYYYYYYYY</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

              
              <!--*********************************** photo 1************************************************-->
              
              <div class="col-lg-4">
              <div class="card shadow" style="width: 18rem;">
                <img src="https://www.responsiblevacation.com/imagesClient/S_121821.jpg" class="card-img-top" alt="..." class="img-fluid img-reponsive">
                <div class="card-body">
                  <h5 class="card-title">ZZZZZZZZZZZ</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
            </div>
          </div>

         

        </div>
    </div>

              
 <!--*********************************** photo 1************************************************-->
            
        
            <div class="container mt-5 mb-5">
                <h3> Les hôtels les mieux notés au centre de Moroni </h3>  
                <div class="row ">
                     
            <!--*********************************** photo 1************************************************-->
                        <div class="col-lg-4">
                        <div class="card shadow" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                        </div>
                        
            
                          <!--*********************************** photo 1************************************************-->
                          
                          <div class="col-lg-4">
                          <div class="card shadow" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
            
                          
                          <!--*********************************** photo 1************************************************-->
                          
                          <div class="col-lg-4">
                          <div class="card shadow" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                      </div>
            
                    </div>
                </div>

            

  <!--*********************************** photo 1************************************************-->


          
       
    
             


{% endblock%}