{% extends "base.html" %}


{% block content %}

<div class="container mb-4 mt-5 shadow">

 <!-- l-image de l'entete -->   
   <!--  <div class="card bg-dark text-white ">
        <img src="https://st.depositphotos.com/1002172/3279/i/450/depositphotos_32794511-stock-photo-bab-boujloud-fes.jpg" class="card-img img-thumbnail" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div> -->


<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="https://www.besanconhoteldeparis.com/pages/mise_en_avant/images/mobile-chambre-single-7g286.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-danger">CHAMBRE SINGL </h5>
          <p class="card-text"> Nos chambres « Single » (pour une personne) avec un lit simple, d'une superficie de 15m2 environ, bénéficient de tout le confort et des prestations de notre hôtel :
        </p>
<ul >
   <li>Décoration soignée</li> 
    <li>Salle de bains avec douche et wc</li>
    <li>Wifi & Télévision satellite</li>
    <li> Prix à partir de : 84 € (selon la disponibilité)..</li> 

</ul>
           

 <a href="#" class="btn btn-danger">DECOUVRIR</a>
        </div>
      </div>
    </div>

    <div class="col mb-4">
        <div class="card">
          <img src="https://www.besanconhoteldeparis.com/pages/mise_en_avant/images/mobile-chambre-standard-t6stw.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-danger">CHAMBRE STANDARD</h5>
            <p class="card-text">Nos chambres « Standard » d'une superficie d'environ 15m² accueillent jusqu'à 2 personnes dans un grand confort :
          </p>
   <UL>
     <LI>Décoration soignée</LI> 
           <li>Salle de bains avec douche et wc</li>   
            <li>Wifi & Télévision satellite</li>  
             <li>Prix à partir de : 94 € (selon la disponibilité)</li> 
            <li>Lit double ou 2 lits séparés.</li>  
  
   </UL>
   
              <a href="#" class="btn btn-danger">DECOUVRIR</a>  
          </div>
        </div>
      </div>


    <div class="col mb-4">
      <div class="card">
        <img src="https://www.besanconhoteldeparis.com/pages/mise_en_avant/images/mobile-chambre-prestige-superieure-u4z43.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-danger">CHAMBRE LUXE</h5>
          <p class="card-text">Nos chambres « Luxe » d'une superficie d'environ 20m2 accueillent jusqu'à 3 personnes avec de beaux volumes très confortables, accessibilité PMR :</P>

 
<UL>
   <LI>Décoration soignée</LI> 
   <li>Mobilier complémentaire</li> 
   <li>Salle de bains avec douche ou bain et wc</li> 
   <li>Wifi & Télévision satellite</li> 
<li> Possibilité d'ouvrir un lit d'appoint pour accueillir jusqu'à 1 enfant (conseillé jusqu'à 15 ans) ou encore un lit bébé moyennant un supplément.</li>   
  <li>Lit double ou 2 lits séparés</li>  
 <li>Prix à partir de : 104 € (selon la disponibilité)</li>   
</UL>
           
             
            
<P>Seules nos chambres « Luxe » sont adaptées pour accueillir au mieux nos clients avec un handicap, la chambre a de plus grand espace pour laisser circuler un fauteuil, une douche à l'italienne..</p>
    <a href="#" class="btn btn-danger">DECOUVRIR</a>  
  </div>
      </div>
    </div>


   

    <div class="col mb-4">
      <div class="card">
        <img src="https://www.besanconhoteldeparis.com/pages/mise_en_avant/images/mobile-chambre-executive-gynsh.jpg" class="card-img-top" alt="...">
        <div class="card-body">
   
          <h5 class="card-title text-danger">CHAMBRE EXECUTIVE </h5>
          <p class="card-text">Nos chambres « Exécutive » d'une superficie d'environ 30m² environ accueillent jusqu'à 3 personnes dans un très bel espace et un confort très haut de gamme.
        </P>
 
<UL>
   <li>Décoration soignée</li> 
   <li>Mobilier élégant et complet</li> 
   <li>Salle de bains avec douche et wc</li> 
   <li>Wifi & Télévision satellite</li> 
   <li>Mini bar & machine à café à disposition</li> 
   <li>Coffre-fort</li> 
   <li>Davantage de produits d'accueils</li> 
  <li></li>  Possibilité d'ouvrir un lit d'appoint pour accueillir jusqu'à 1 enfant (conseillé jusqu'à 15ans) ou encore un lit bébé moyennant un supplément
   <li>Lit double ou 2 lits séparés</li> 
  <li> Prix à partir de : 115 € (selon la disponibilité)</li> 
</UL>
           
            
           <P> Possibilité d'ajouter un lit d'appoint ou un lit bébé moyennant un supplément.</p>
            <a href="#" class="btn btn-danger">DECOUVRIR</a>  
        </div>
      </div>
    </div>
  </div>
</div>
  





{% endblock%}